html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, Open Sans, sans-serif;
    /* font-family: "Open Sans", sans-serif; */
    font-size: 14px;
    font-weight: 400;
    /* background-color: #eee; */
    background-color: white;
    height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */

.btns_main .btns_aero{
  right: 6px;
  top: 50%;
  transform: translate(-50%, -50%);
}

.btns_main{
  padding: 18px;
  border-radius: 4px;
}
.inactive_main{
  background-color: #e5e5e5;
}
.active_main{
  background-image: linear-gradient(to right, #ff8000, #fa4616);
}

.flex{display: flex;}

.relative {
  position: relative;
}

body .absolute {
  position: absolute;
}
.fixed {
  position: fixed;
}
.underline{
  text-decoration: underline;
}
.flex-inline {
  display: inline-flex;
}
.flex-column {
  flex-direction: column;
}
.flex-center{
  justify-content: center;
}
.flex-start{
  justify-content: flex-start;
}
.flex-end{
  justify-content: flex-end;
}
.flex-between{
justify-content: space-between;
}
.flex-around{
justify-content: space-around;
}
.v-flex-end{
  align-items: flex-end;
}
.align-v-center{
  align-items: center;
}
.self-center{
  align-self: center;
}
.flex-1 {
  flex: 1;
}
.full-width{
  width: 100%;
}
.full-height{
  height: 100%;
}
.h-50{
  height: 50px;
}
.left-0{
  left: 0;
}
.right-0{
  right: 0;
}
.pointer{
  cursor: pointer;
}
.outline-0{
  outline: none;
}
.gradient_btn{
  background-image: linear-gradient(to right, #ff8000, #fa4616);
}
/* .mt-66{margin-top: 66px;} */
.text-center{
  text-align: center;
}
.white{
  color: white;
}
.bg-white{
  background-color: white;
}
.bg-black{
  background-color: black;
}
.main_wrapper{
  /* margin-top: 54px; */
}
.top-0{
  top: 0;
}
.margin-t-54{
  margin-top: 54px;
}
.top_loader{
  background-image: linear-gradient(to right,#ff8000,#fa4616) !important;
}
.home_slider .slider-wrapper{
  padding: 0px 10px;
}
.home_slider .slider_img{
  margin-right: 10px;
  height: 166px;
}
.demo_listing{
  width: max-content;
  margin: auto;
  padding: 10px;
  border: 1px solid #fe6a0c;
  border-radius: 6px;
}
.hide_scroll::-webkit-scrollbar{
  display: none;
}
.error{
  color: red;
}
.uppercase{
  text-transform: uppercase;
}

.font-8 {
  font-size: 8px;
}

.font-9 {
  font-size: 9px;
}

.font-10 {
  font-size: 10px;
}

.font-11 {
  font-size: 11px;
}

.font-12 {
  font-size: 12px;
}

.font-13 {
  font-size: 13px;
}

.font-14 {
  font-size: 14px;
}
.font-15 {
  font-size: 15px;
}

.font-16 {
  font-size: 16px;
}

.font-17 {
  font-size: 17px;
}
.font-18 {
  font-size: 18px;
}
.font-19 {
  font-size: 19px;
}

.font-20 {
  font-size: 20px;
}
.font-24 {
  font-size: 24px;
}
.black {
  color: #000000;
}

.grey-dark {
  color: #212121;
}
.red {
  color: #ff0008;
}
.ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
body .restaurant_image_main .control-dots{
  text-align: left;
  left: 15px;
}
body .control-dots .dot:nth-child(n+6){
  display: none;
}
body .carousel .control-dots .dot.selected{
  background-color: #4a90e2;
}
body .carousel .control-dots .dot{
  opacity: 1;
  box-shadow: unset;
  margin: 0 4px;
  width: 6px;
  height: 6px;
}
.block{
  display: block;
}
.bottom-0 {
  bottom: 0;
}
.grey {
  color: #616161;
}
.bold{
  font-weight: 600;
}
.semi-bold{
  font-weight: 500;
}
.grey-light-dark {
  color: #9e9e9e;
}
.grey-light{
  color: #7c7b7b;
}
.other-light-grey{
  color: #848484;
}
.more-grey{
  color: #7b7b7b;
}
.text-blue {
  color: #4a90e2;
}

.padding-5 {
  padding: 5px;
}
.padding-10,
.padding-10-other {
  padding: 10px;
}
.padding-10-imp {
  padding: 10px !important;
}
.padding-0 {
  padding: 0;
}
.paddding-15,
.padding-15 {
  padding: 15px;
}
.padding-t-3 {
  padding-top: 3px;
}
.padding-t-2 {
  padding-top: 2px;
}
.padding-b-2 {
  padding-bottom: 2px;
}
.padding-tb-10 {
  padding-top: 10px;
  padding-bottom: 10px;
}
.padding-tb-20 {
  padding-top: 20px;
  padding-bottom: 20px;
}
.padding-lr-20 {
  padding-left: 20px;
  padding-right: 20px;
}
.padding-t-50 {
  padding-top: 50px;
}
.padding-b-50 {
  padding-bottom: 50px;
}
.padding-b-70 {
  padding-bottom: 70px;
}
.padding-b-25 {
  padding-bottom: 25px;
}
.padding-20 {
  padding: 20px;
}
.padding-30 {
  padding: 30px;
}
.padding-40 {
  padding: 40px;
}
.padding-50 {
  padding: 50px;
}
.padding-lr-3 {
  padding: 0 3px;
}
.padding-l-0 {
  padding-left: 0;
}

.padding-l-5 {
  padding-left: 5px;
}

.padding-l-10 {
  padding-left: 10px;
}
.padding-l-15 {
  padding-left: 15px;
}
.padding-r-0 {
  padding-right: 0;
}
.padding-r-15 {
  padding-right: 15px;
}
.padding-r-20 {
  padding-right: 20px;
}

.padding-t-5 {
  padding-top: 5px;
}
.padding-l-20 {
  padding-left: 20px;
}

.padding-l-30 {
  padding-left: 30px;
}
.padding-l-25 {
  padding-left: 25px;
}

.padding-r-30 {
  padding-right: 30px;
}

.padding-t-10 {
  padding-top: 10px;
}

.padding-t-10-imp {
  padding-top: 10px !important;
}

.padding-t-15 {
  padding-top: 15px;
}

.padding-t-20 {
  padding-top: 20px;
}

.padding-t-40 {
  padding-top: 40px;
}

.padding-b-10 {
  padding-bottom: 10px;
}
.padding-b-15 {
  padding-bottom: 15px;
}

.padding-b-12 {
  padding-bottom: 12px;
}

.padding-b-5 {
  padding-bottom: 5px;
}
.padding-b-3 {
  padding-bottom: 3px;
}
.padding-b-0 {
  padding-bottom: 0px;
}
.margin-b-3 {
  margin-bottom: 3px;
}
body .margin-b-0,
body .mb-0 {
  margin-bottom: 0px;
}
.margin-b-30 {
  margin-bottom: 30px;
}
.padding-b-20 {
  padding-bottom: 20px;
}

.padding-b-30 {
  padding-bottom: 30px;
}
.padding-b-40 {
  padding-bottom: 40px;
}

.padding-r-5 {
  padding-right: 5px;
}

.padding-r-10 {
  padding-right: 10px;
}

.padding-t-0 {
  padding-top: 0;
}
.padding-t-30 {
  padding-top: 30px;
}
.padding-t-40 {
  padding-top: 40px;
}

.margin-3 {
  margin: 3px;
}
.margin-10 {
  margin: 10px;
}
.margin-15 {
  margin: 15px;
}

.margin-20 {
  margin: 20px;
}
.margin-40{
  margin: 40px;
}

.margin-r-0 {
  margin-right: 0;
}
.margin-r-1 {
  margin-right: 1px !important;
}
.margin-r-5 {
  margin-right: 5px;
}
.margin-r-10 {
  margin-right: 10px;
}
.margin-r-10-imp {
  margin-right: 10px !important;
}
.margin-r-15 {
  margin-right: 15px;
}
.margin-l-15 {
  margin-left: 15px;
}
.margin-r-20 {
  margin-right: 20px;
}
.margin-r-30 {
  margin-right: 30px;
}
.margin-r-40 {
  margin-right: 40px;
}
.margin-l-60{margin-left: 60px}

.margin-l-1 {
  margin-left: 1px !important;
}
.margin-l-2 {
  margin-left: 2px;
}

.margin-l-5 {
  margin-left: 5px;
}

.margin-l-10 {
  margin-left: 10px;
}

.margin-l-20 {
  margin-left: 20px;
}

.margin-left-auto {
  margin-left: auto;
}
.margin-right-auto {
  margin-right: auto;
}
.margin-t-0-imp {
  margin-top: 0 !important;
}
.margin-b-0-imp {
  margin-bottom: 0 !important;
}
.margin-l-0-imp {
  margin-left: 0 !important;
}
.margin-t-3 {
  margin-top: 3px;
}
.margin-t-4 {
  margin-top: 4px;
}
.margin-t-5 {
  margin-top: 5px;
}
.margin-t-10 {
  margin-top: 10px;
}
.margin-t-15 {
  margin-top: 15px;
}
.margin-t-20 {
  margin-top: 20px;
}
.margin-t-30 {
  margin-top: 30px;
}
.margin-t-50 {
  margin-top: 50px;
}
.margin-t-55 {
  margin-top: 55px;
}
.margin-t-60 {
  margin-top: 60px;
}
.margin-t-54 {
  margin-top: 54px;
}

.margin-b-5 {
  margin-bottom: 5px;
}
.margin-b-10 {
  margin-bottom: 10px;
}
.margin-b-15 {
  margin-bottom: 15px;
}
.margin-b-20 {
  margin-bottom: 20px;
}
.margin-b-80 {
  margin-bottom: 80px;
}
.italic{
  font-style: italic;
}
.popup_internal_margin{
  padding: 20px 15px 10px 15px;
}


.input_container:focus-within .float_label{
  top: 1px;
  background-color: white;
  font-size: 12px;
  color: #79b1ff;
  border-color: blue;
}

.filled_input .float_label{
  top: 1px;
  background-color: white;
  font-size: 12px;
  color: #79b1ff;
}
body .input_container .float_input:focus,.float_input:focus {
  border-color: #79b1ff;
}
.float_input:invalid[focused="true"]{
  border-color: red;
}

.float_label {
  pointer-events: none;
  color: #9e9e9e;
  font-size: 16px;
  top: 50%;
  transform: translate(0px, -50%);
  transition: 0.2s;
  left: 16px;
}
.float_input {
  outline: none;
  padding: 18px 10px;
  border: 1px solid #bdbdbd;
  padding: 20px 15px;
  border-radius: 6px;
}
.with_country .input_country_code, body .filled_input .float_label,
.input_container:focus-within .float_label{
  left: 16px;
}
.filled_input .float_input{
  border-color: #79b1ff;
}
.with_country .float_label{
  left: 106px;
}
.with_country .float_input{
  padding-left: 104px;
}
.radius-4 {
  border-radius: 4px;
}
.radius-8 {
  border-radius: 8px;
}
.radius-10 {
  border-radius: 10px;
}

.radius-5 {
  border-radius: 5px;
}
.radius-0{
  border-radius: 0px;
}
.radius-50{
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.otp_inputs{
  border: solid 1px #bdbdbd;
}
.rotate_accordion {
  transform: rotate(180deg);
}
.profile_header{
  height: 262px;
  box-shadow: 0 2px 10px 0 rgb(0 0 0 / 20%);
}
.non_prime_user {
  background-image: linear-gradient(to right, #ff8000, #fa4616);
}
.prime_user{
  background-color: #212121;
}
body .prime_user, body .prime_user .loc_text_home{
  color: white;
}
.prime_user .loc_aero .loc_aero_down{
  fill: white;
}
.profile_banner_content{
  top: 40px;
}
.profile_internal{
  width: max-content;
  margin: auto;
}
.user_img{
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
}
.profile_box{
  box-shadow: 0 0 5px 1px rgb(0 0 0 / 18%);
  height: 138px;
}
.align_box{
  grid-gap: 10px;
}
.profile_main{
  top: -84px;
}
.box_bottom_text{
  bottom: 12px;
}
.accor_main{
  border-bottom: 1px solid #c8c7cc;
}
.accor_main:last-child{
  /* border-bottom: 0px; */
}
.ctn_btns {
  border: 1px solid #4a90e2;
}
.space_header_home{
  padding: 15px 10px 10px 10px;
}
.non_prime_home{
  fill: red;
  box-shadow: 0 1px 5px 0 rgb(0 0 0 / 20%);
}
.search_main_home{
  background-color: #f1f1f1;
  padding: 10px 14px;
}
.search_input_home{
  color: #999999;
  letter-spacing: 0.2px;
  font-weight: 300;
}
.login_btn_home{
  background-image: linear-gradient(to right, #ff8000, #fa4616);
  padding: 0px 16px;
  border-radius: 6px;
}
.loc_main_home{
  padding: 0px 4px 0px 10px;
}
.selected_loc_home{
  letter-spacing: 1px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  max-width: 200px;
}
.loc_text_home{
  color: #252424;
}
.loc_box{
  background-image: linear-gradient(to right, #ff9800, #fa4616);
}
.back_header_content{
  margin-top: 54px;
}

.payeazy_link .bottom_img{
  border: 1px solid transparent;
}
.payeazy_link.active_page .bottom_img{
  border: 1px solid #fa4617;
  border-radius: 50%;
}
.payeazy_link {
  top: -4px;
}
.active_page .nave_name{
  color: #fa4617;
}
.bottom_main{
  height: 66px;
  box-shadow: 0 0px 10px 0 rgb(0 0 0 / 20%);
}
body .custom_class .form-control,
body .custom_class .special-label,
body .custom_class .arrow{
  display: none;
}
.custom_class.react-tel-input{
  position: absolute;
  z-index: 1;
}
body .custom_class .country-list  .search-box{
  margin-left: 0px !important;
  padding: 10px 10px 10px 40px;
  width: 100%;
  text-transform: capitalize;
}
body .custom_class .country-list{
  width: 320px;
}
body .custom_class .country-list .search{
  padding: 10px 10px;
}
body .custom_class .country-list .search-emoji{
  position: absolute;
  display: block;
  left: 28px;
  top: 50%;
  transform: translate(-50%, -50%);
}
.country_code_main{
  position: absolute;
  z-index: 1;
  left: 0px;
}

body .react-tel-input .flag-dropdown{
  top: -18px;
  width: 90px;
  height: 54px;
  left: 0px;
}

body .react-tel-input .selected-flag{
  width: 90px;
  height: 100%;
  padding: 0 0 0 11px;
  border-radius: 3px 0 0 3px;
}
.country_aero{
  right: -42px;
}

.modal_container{
  background-color: rgba(0,0,0,.35);
  z-index: 3;
  overflow-y: auto;
}
.modal_backdrop{
  z-index: 3;
  opacity: 0.7;
}
.modal_main{
  bottom: 0;
  z-index: 4;
  border-radius: 10px 10px 0px 0px;
}
.modal_content{
  overflow-y: auto;
  height: 100vh;
}
.search_input{
  padding: 15px 36px;
  border-radius: 4px;
  border: 1px solid #ceccc8;
}
.search_input::placeholder{
  color: #777674;
  font-size: 14px;
}
.input_action{
  right: 0;
}
.search_icon,.input_action{
  transform: translate(-50%, -50%);
  top: 50%;
}
.search_icon{
  left: 20px;
}
.header_mobile{
  z-index: 2;
}
a {
  text-decoration: none;
  color: #4a90e2;
}
.inline-block {
  display: inline-block;
}
.default_date_picker {opacity: 0;}
.default_date_picker::-webkit-calendar-picker-indicator {left: 0;top: 0;width: 100%;height: 100%;margin: 0;padding: 0;cursor: pointer;}
.bottom_shadow{
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 50%);
}
.spinner1{
  margin: 0 10px;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  border: 2px solid #f3f3f3;
  border-top: 2px solid red;
  animation: rotating-spinner 0.3s linear infinite;
}
@keyframes rotating-spinner {
  from {
    transform: rotate(0deg);
  }
  
  to {
    transform: rotate(360deg);
  }
}
body .btns_aero.btns_aero_loder {
  right: -16px;
}
.show_more_loader{
  border: 2px solid #fa4617;
  background: unset;
  padding: 15px;
  max-width: 200px;
  margin: auto;
}
#trend-details{
  margin: 0px;
  border-radius: 8px;
}
#trend-details .img1-8{
  border-radius: 8px;
}