.listing_header{
    z-index: 2;
    box-shadow: 0 2px 11px 0 rgb(0 0 0 / 15%);
}
.filter_tab{
    background-color: #feece7;
    padding: 10px 32px 10px 10px;
    overflow: auto;
    white-space: nowrap;
}
.filterList{
    letter-spacing: 0.35px;
    color: #616161;
    font-size: 12px;
    border-radius: 4px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    background-color: white;
    padding: 10px 15px;
    margin-right: 10px;
}
.filter_line{
    border-radius: 8px;
    border: solid 1px #e5e5e5;
    padding: 12px;
    margin: 0px 10px;
}





.listin_card{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 15px;
}
.center_content{
    padding: 30px 15px 10px 15px;
}
.res_name{
    color: #212121;
    font-size: 18px;
}

.cuisine_aprox{
    color: #616161;
}
.res_address{
    padding: 6px 0px 15px 0px;
    color: #616161;
}
.list_outlet{
    color: #4a90e2;
}
.multi_cuisines{
    margin-right: 20px;
}
.cuisine_aprox_icon{
    margin-right: 6px;
}
.res_offer{
    padding: 14px 15px 14px 15px;
    background-color: #f5f5f5;
}
.more_deals{
    color: #919191;
    font-size: 12px;
}
.offer_text{
    color: #d95931;
    font-size: 13px;
    font-weight: bold;
    margin-left: 4px;
}
.fav_res{
    right: 12px;
    top: 12px;
}
.res_feature{
    bottom: -12px;
    left: 8px;
}
.feature_list {
    padding: 10px 12px;
    border-radius: 20px;
    box-shadow: 0 0 4px 0 rgb(33 33 33 / 30%);
    font-size: 12px;
    letter-spacing: 0.35px;
    margin-right: 10px;
}
.image_main{
    gap: 5px;
    overflow-x: auto;
    overflow-y: hidden;
    height: 100%;
    border-radius: 6px 6px 0px 0px;
}

.full_img .image_internal{
    flex: 1;
}
.image_internal{
    flex: 0 0 250px;
    height: 150px;
    background-color: #fff5f5;
    border-radius: 6px 6px 0px 0px;
}
.most_popular_tag{
    top: -3px;
    left: 14px;
    z-index: 1;
}
.menu_btn,.book_a_table{
    font-size: 14px;
    text-transform: unset;
}
.menu_btn{
    color: #4a90e2;
}
.book_a_table{
    color: #fa6400;
    border-radius: 6px;
    border: solid 1px #fa6400;
    padding: 10px 22px;
}
.touch_box{
    border-radius: 6px;
    box-shadow: 0 2px 11px 0 rgba(0, 0, 0, 0.15);
}
.image_main::-webkit-scrollbar{display: none;}
.btm_cta{
    padding: 12px 15px;
}
.cards_main{
 margin-top: 170px;   
}
.listing_date_meal{
    border-radius: 8px;
    border: solid 1px #e5e5e5;
    padding: 12px;
    width: 300px;
}
.today_text{
    font-size: 14px;
    color: #262424;
    margin-left: 6px;
}
.sort_by{
    border-radius: 8px;
    border: solid 1px #e5e5e5;
    padding: 12px;
}