.header_color{
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 20%);
    background-image: linear-gradient(to right,#ff8000,#fa4616);
    padding: 29px 15px 14px 15px;
}
.profile_main{
    margin-top: 78px;
    margin-bottom: 100px;
}

.accor_main{
    border-bottom: 1px solid #c8c7cc;
}
.accor_main:last-child{
    border-bottom: 0px;
}