.trend_card,.trend_wrapper{
    -webkit-box-shadow: 0 1px 5px rgb(0 0 0 / 12%), 0 1px 5px rgb(0 0 0 / 24%);
}
.trend_img{
    /* border-radius: 8px 8px 0px 0px; */
    border-radius: 8px;
    width: 100%;
    height: 191px;
}
.list_img{
    height: 200px;
}
.html_class img{
    /* width: 100% !important; */
    border-radius: 8px;
}
.html_class p{
    line-height: 1.4;
}
.active_tab, .active_tab>a{
    color: black;
}
.active_tab{
    border-bottom: 2px solid #fa4617;
}
.trends_header{
    position: sticky;
    top: 54px;
    z-index: 1;
}